body {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  width: 412px;
}

h1 {
  font-size: 5vh;
}

.conversor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;
  padding-bottom: 1vh;
}

input {
  width: 30vh;
  height: 2vh;
  text-align: end;
  font-family: monospace;
}