body {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  width: 412px;

}

h1 {
  font-size: 5vw;
}

.conversor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  padding-bottom: 1vw;
}

input {
  width: 30vw;
  height: 2vw;
  text-align: end;
  font-family: monospace;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
